*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo{
    padding-left: 50px;
}
nav .btn{
    padding-right: 50px;
    border-radius: 5px;
}
nav{
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 50px;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
section{
    background-image: url(assets/hero-bg.png);
    padding-top: 250px;
    padding-bottom: 250px;
    text-align: center;
}
section .btn{
    padding-top: 20px;
}
section .btn .bt{
   gap: 10px;
   border-radius: 8px;
   font-size: 15px;
   background-color: rgb(150, 143, 156);
}
section .btn .bt:hover{
    color: blue;
}
.card{
    padding: 100px 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.second-brain{
    display: flex;
    gap: 20px;
}